body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
    font-family: 'Jost', sans-serif;
    background: linear-gradient(to bottom, #0f0c29, #302b63, #24243e);
}

h1,
h2 {
    color: #fff;
    /* Configura el color del texto a blanco para h1 y h2 */
    font-weight: bold;
    text-align: center;
    margin: 20px;
}

h1 {
    font-size: 2.5em;
}

h2 {
    font-size: 1.5em;
}